*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{

    height: 100%;
    width: 100%;
}

.menu{
    width: 100%;
    
    border: 1px solid black;  
    
}

ul{
    height: 10%;
}


.item_img{
    width: 70px;
    height: 120px;
    
}

.item_img img{

    width: 50px;
    height: 80px;
    border: 1px solid black;

}

.item_remove img{

    width: 30px;
    height: 20px;
}


/* 
.item_remove{

    height: 
} */



.menu li{
    float: left;
    text-align: center;
    width: 33%;
    height: 10%;
    list-style: none;

}

.item{
    float: left;
    width: 15%;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
}

 td, tr{
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
}

.texto{
    height: 10%;
    padding: 20px;
    background-color: gray;
    width: 100%;
    border: 1px solid black;

}
